<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Accounts</title>
</head>
<body>
 <h1>Manage Accounts</h1>

    <a href = "addAccountPage.html">Add Account</a>

    <table>
      <tr>
        <th>Accounts</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>account1@email.com</td>
        <td><a href = "addAccountPage.html">Edit</a></td>
        <td><a href = "">Delete</a></td>
      </tr>
      <tr>
        <td>account2@email.com</td>
        <td><a href = "addAccountPage.html">Edit</a></td>
        <td><a href = "">Delete</a></td>
      </tr>
      <tr>
        <td>account3@email.com</td>
        <td><a href = "addAccountPage.html">Edit</a></td>
        <td><a href = "">Delete</a></td>
      </tr>
    </table>

</body>
</html>