<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Account</title>
</head>
<body>
<h1>Add Account</h1>
<form action="/action_page.php"><label for="email">Email</label><br />
    <input name="email" type="text" />
    <br />
    <label for="password">Password</label>
    <br />
    <input name="password" type="text" />
    <br />
    <label for="name">Name</label>
    <br />
    <input name="name" type="text" />
    <br />
    <label for="address">Address</label>
    <br />
    <input name="address" type="text" />
    <br />
    <label for="role">Role</label>
    <br />
    <input type="radio" id="html" name="role" value="supervisor">
    <label for="supervisor">Supervisor</label><br>
    <input type="radio" id="css" name="role" value="instructor">
    <label for="css">Instructor</label><br>
    <input type="radio" id="javascript" name="role" value="ta">
    <label for="ta">TA</label>
    <br /><br />
    <input type="submit" value="Submit" /></form>
</body>
</html>