<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Account</title>
</head>
<body>
<h1>Edit Account</h1>
<form action="/action_page.php"><label for="email">Email</label><br />
    <input name="email" type="text" />
    <br />
    <label for="password">Password</label>
    <br />
    <input name="password" type="text" />
    <br />
    <label for="name">Name</label>
    <br />
    <input name="name" type="text" />
    <br />
    <label for="address">Address</label>
    <br />
    <input name="address" type="text" />
    <br />
    <label for="role">Role</label>
    <br />
    <select name="roles">
        <option value="supervisor">Supervisor</option>
        <option value="instructor">Instructor</option>
        <option value="ta">Teacher Assistant</option>
    </select>
    <br /><br />
    <input type="submit" value="Submit" /></form>
</body>
</html>