<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Sections</title>
</head>
<body>
    <h1>Manage Sections: </h1>

    <table>
        <tr>
            <th>Add Section:</th>
        </tr>
        <tr>
            <td>Lab ID</td>
        </tr>
        <tr>
            <td>Box goes here</td>
        </tr>
        <tr>
            <td>TA</td>
        </tr>
        <tr>
            <td>Box goes here</td>
        </tr>
    </table>

    <a href="" style="margin-left:80px">Add</a>

    <table style="width:50%">
      <tr>
        <th>Lab ID</th>
        <th> </th>
        <th>TA</th>
      </tr>
      <tr>
        <td>801</td>
        <td> </td>
        <td>TA 1</td>
      </tr>
      <tr>
        <td>804</td>
        <td></td></td>
        <td>TA 2</td>
      </tr>
      <tr>
        <td>901</td>
        <td></td>
        <td>TA 3</td>
      </tr>
    </table>
</body>
</html>