{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row m-4">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card text-white bg-dark text-center my-2 py-3">
                    <h1>ADD ACCOUNT</h1>
                </div>
            </div>
            <div class="col-2 text-center">
                <a href = '/' type="button" class="btn btn-danger my-4" style="font-size: 20px">LOG OUT</a>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="/addAccount/" method="post">
            {% csrf_token %}
            <div class="container col-5 p-2">
                <label style="font-size: 16px" for="id" class="px-2">User ID
                    <div class="text-danger">
                        {{ v_id }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="id" class="form-control mb-2 pb-1" placeholder="User ID">
                <label style="font-size: 16px" for="email" class="px-2">Email
                    <div class="text-danger">
                        {{ v_email }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="email" class="form-control mb-2 pb-1" placeholder="Email">
                <label style="font-size: 16px" for="password" class="px-2">Password
                    <div class="text-danger">
                    {{ v_password }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="password" class="form-control mb-2 pb-1" placeholder="Password">
                <label style="font-size: 16px" for="name" class="px-2">Name
                    <div class="text-danger">
                    {{ v_name }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="name" class="form-control mb-2 pb-1" placeholder="Name">
                <label style="font-size: 16px" for="address" class="px-2">Address
                    <div class="text-danger">
                    {{ v_address }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="address" class="form-control mb-2 pb-1" placeholder="Address">
                <label style="font-size: 16px" for="phoneNum" class="px-2">Phone Number
                    <div class="text-danger">
                    {{ v_phoneNum }}
                    </div>
                </label>
                <input style="border-radius: 45px" type="text" name="phoneNum" class="form-control mb-2 pb-1" placeholder="##########">
                <label style="font-size: 16px" for="role" class="px-2">Role</label>
                <select style="border-radius: 45px" name="role" id="role" class="form-control mb-2 pb-1">
                    <option value="0">Supervisor</option>
                    <option value="1">Instructor</option>
                    <option value="2">TA</option>
                </select>
                <div class="text-center">
                    <input style="font-size: 24px" type="submit" value="ADD" class="btn btn-primary">
                </div>
            </div>
        </form>
        <div class="container">
            <div class="row">
            <div class="col-3"></div>
                <a href = '/accounts/' type="button" class="btn btn-warning col-4 mx-auto my-5 py-2" style="font-size: 24px">Back to Account Management</a>
            <div class="col-3"></div>
        </div>
    </div>
    </div>
{% endblock %}
