{% extends "base.html" %}

{% block content %}
     <div class="container" align="center">
        <div class="row m-4">
            <div class="col-2">   </div>
                <div class="col-8">
                    <div class="card text-white bg-dark text-center my-2 py-3">
                           <h1>Add Section For: {{ course.name }}</h1>
                    </div>
                </div>
            <div class="col-2 text-center">
                <a href = '/' type="button" class="btn btn-danger my-4" style="font-size: 20px">LOG OUT</a>
            </div>

        </div>



    <form action="/addSection/{{course.course_id}}/" method="post">
    {% csrf_token %}
        <table align="center">
            <tr>
                <td>
                    <label style="font-size: 25px" class="px-7" for="SectionNumber">Section Number:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input style="border-radius: 45px;width: 300px" name="SectionNumber" type="text" value="{{ sectionNumber }}" />
                </td>
                <td>
                    {{ v_num }}
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-size: 25px" class="px-7" for="TA">TAs:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select style="border-radius: 45px;width: 300px"name="TA">
                        <option  value=""> </option>
                        {% for i in taList %}
                            <option value="{{ i.user_id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
     <p>


 </p>
        <input align="center" style="font-size: 24px" class="btn btn-primary" type="submit" value="Submit" />
    </form>
     </div>
{% endblock %}