{% extends "base.html" %}

{% block content %}
    <h1>Add Section For: {{ course.name }}</h1>

    <form action="/addSection/{{course.course_id}}/" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="SectionNumber">Section Number:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="SectionNumber" type="text" value="{{ sectionNumber }}" />
                </td>
                <td>
                    {{ v_num }}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="TA">TA:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select name="TA">
                        <option  value=""> </option>
                        {% for i in taList %}
                            <option value="{{ i.user_id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}