{% extends "base.html" %}

{% block content %}
<h1>Assign Course: {{course.name}}</h1>
<form action="/assignToCourse/{{ course.course_id }}/" method="post">
    {% csrf_token %}
    <table>

        <tr>
            <td><label for="instructor">Instructor</label></td>
        </tr>
        <tr>
            <td>
                <select name="instructor">
                <option selected {% if user.role == 1%} disabled {% endif %} value="{{ instructor.user_id }}">{{instructor.name}}</option>
                    {% for i in instructorList %}
                    <option value="{{ i.user_id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ v_instructor }}</td>
        </tr>


        <tr>
            <td><label for="tas">TAs</label></td>
        </tr>
        <tr>
            <td>
                <select {% if user.role == 1%} disabled {% endif %} name="taIDs" multiple>
                    {% for i in taList %}
                         {% if i in tas%}
                            <option selected value="{{ i.user_id }}">{{ i.name }}</option>
                         {% else %}
                            <option value="{{ i.user_id }}">{{ i.name }}</option>
                         {% endif %}
                    {% endfor %}
                 </select>
            </td>
            <td>{{ v_tas }}</td>
        </tr>
    </table>
    {% if user.role != 1%}
    <input type="submit" value="Submit" />
    {% endif %}
</form>
    <a href="/courses/"> Back to Course Management </a>
{% endblock %}