{% extends "base.html" %}

{% block content %}
<h1>Assign Course: {{Course}}</h1>
<form action="/action_page.php">
    <label for="instructor">Instructor: </label>
    <select name="instructor" id="instructor">
        <option selected value="noSelection">"Please Select Instructor"</option>
        <option value="instructor1">instructor1</option>
        <option value="instructor2">instructor2</option>
        <option value="instructor3">instructor3</option>
        <option value="instructor4">instructor4</option>
    </select>
    <br />
    <label for="tas">TAs: </label>
    <select name="tas" id="tas">
        <option selected value="noSelection">"Please Select TA's"</option>
        <option value="ta1">ta1</option>
        <option value="ta2">ta2</option>
        <option value="ta3">ta3</option>
        <option value="ta4">ta4</option>
    </select>
    <br /><br />
    <input type="submit" value="Submit" /></form>
<form action="courseManagement.html">
    <input type="submit" value="Back to Course Management" />
</form>
{% endblock %}