{% extends "base.html" %}

{% block content %}
    <h1>Manage Courses</h1>

    <a href = "">Add Course</a>

    <table style="width:100%">
      <tr>
        <th>Course name</th>
        <th>Professor</th>
      </tr>
      <tr>
        <td>COMPSCI 337</td>
        <td>Professor 1</td>
         <td><a href = "AssignsPage.html">Assign</a></td>
        <td><a href = "sectionManagement.html">Sections</a></td>
      </tr>
      <tr>
        <td>COMPSCI 361</td>
        <td>Professor 2</td>
        <td><a href = "AssignsPage.html">Assign</a></td>
        <td><a href = "sectionManagement.html">Sections</a></td>
      </tr>
      <tr>
        <td>COMPSCI 395</td>
        <td>Professor 3</td>
        <td><a href = "AssignsPage.html">Assign</a></td>
        <td><a href = "sectionManagement.html">Sections</a></td>
      </tr>
    </table>

{% endblock %}