{% extends "base.html" %}

{% block content %}
    <h1>Manage Courses</h1>

    <a href = "/addCourse/">Add Course</a>

    <table>
      <tr>
        <th>Courses</th>
        <th></th>
        <th></th>
      </tr>
        {% for i in courses %}
            <tr>
                <td>{{i.name}}</td>
                <td><a href = "/assignToCourse/{{ i.course_id }}">Assign</a></td>
                <td><a href = "/sections/{{ i.course_id }}">Sections</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}