{% extends "base.html" %}

{% block content %}
<h1>Edit Account</h1>
<form action="/action_page.php">
    <table style="width:100%">
        <tr><td>
            <label for="email">Email</label>
        </td></tr>
        <tr><td>
            <input name="email" type="text" />
        </td></tr>
        <tr><td>
            <label for="password">Password</label>
        </td></tr>
        <tr><td>
            <input name="password" type="password" />
        </td></tr>
        <tr><td>
            <label for="name">Name</label>
        </td></tr>
        <tr><td>
            <input name="name" type="text" />
        </td></tr>
        <tr><td>
            <label for="address">Address</label>
        </td></tr>
        <tr><td>
            <input name="address" type="text" />
        </td></tr>
        <tr><td>
            <label for="role">Role</label>
        </td></tr>
        <tr>
            <td>
                <input type="radio" id="html" name="role" value="supervisor">
                <label for="supervisor">Supervisor</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="css" name="role" value="instructor">
                <label for="css">Instructor</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" id="javascript" name="role" value="ta">
                <label for="ta">TA</label>
            </td>
        </tr>
        <tr><th>
            <input type="submit" value="Submit" />
        </th></tr>
    </table>
</form>
{% endblock %}