{% extends "base.html" %}

{% block content %}
        <div class="container">
        <div class="row m-4">
            <div class="col-2">   </div>
                <div class="col-8">
                    <div class="card text-white bg-dark text-center my-2 py-3">
                        <h1>Manage Sections For: {{ course.name }}</h1>
                    </div>
                </div>
            <div class="col-2 text-center">
                <a href = '/' type="button" class="btn btn-danger my-4" style="font-size: 20px">LOG OUT</a>
            </div>

        </div>
    </div>
 <div class="container">
        <div class="row">
            <div class="col-2"></div>
 <a href="/addSection/{{ course.course_id }}/" class="btn btn-primary col-4 mx-auto my-4 py-3" style="font-size: 25px">Add Section</a>            <div class="col-2"></div>
        </div>
    </div>



    <br>

    <form action="/sections/{{course.course_id}}/" method="post">
    {% csrf_token %}
        <table align="center" width="400" border="solid 1px #aaa999;" border="1">
          <tr>
            <th width="150" bgcolor="#7fffd4">Lab Number</th>
            <th bgcolor="#7fffd4">TA</th>
          </tr>

          {% for i in sectionList %}
          <tr>
              <td style="border: solid 1px #aaa999;" width="150">{{ i.name }}</td>
              <td style="border: solid 1px #aaa999;" width="150">
                  <select style="width: 250px" name="TA/{{ i.section_id }}">
                        <option  value=""> </option>
                        {% for j in taList %}
                            <option {% if j == i.assigned_ta %} selected {% endif %} value="{{ j.user_id }}">{{ j.name }}</option>
                        {% endfor %}
                  </select>
              </td>
          </tr>
          {% endfor %}
        </table>
     <p>

 </p>
    <div align="center">
        <input type="submit" value="Update" style="font-size: 24px" class="btn btn-primary" />
    </div>
    </form>
    <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <a href = '/courses/' type="button" class="btn btn-warning col-4 mx-auto my-5 py-2" style="font-size: 24px">Back to Course Management</a>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
{% endblock %}