<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Sections</title>
</head>
<body>
    <h1>Manage Sections: </h1>

    <form action="/action_page.php">
        <table>
            <tr>
                <label for="Lab ID">Lab ID:</label>
                <br/>
            </tr>
            <tr>
                <input name="Lab ID" type="text" />
                <br/>
            </tr>
            <tr>
                <label for="TA">TA:</label>
                <br/>
            </tr>
            <tr>
                <select name="TA">
                    <option value="TA1">TA1</option>
                    <option value="TA2">TA2</option>
                    <option value="TA3">TA3</option>
                </select>
                <br/>
            </tr>
        </table>
    </form>

    <input type="submit" value="Submit" style="margin-left:80px"/>

    <table style="width:20%">
      <tr>
        <th>Lab ID</th>
        <th> </th>
        <th>TA</th>
      </tr>
      <tr>
        <td>801</td>
        <td> </td>
        <td>TA 1</td>
      </tr>
      <tr>
        <td>804</td>
        <td></td></td>
        <td>TA 2</td>
      </tr>
      <tr>
        <td>901</td>
        <td></td>
        <td>TA 3</td>
      </tr>
    </table>
</body>
</html>